/* sucesso  */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--title), sans-serif;
}

body {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);

    color: var(--letter);
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    left: 25%;
}

main h1 {
    color: var(--main);
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form a {

    cursor: pointer;
    width: 20rem;
    height: 3rem;

    margin-top: 1rem;
    border: none;
    border-radius: 32px;

    background: var(--background-submit);
    color: var(--submit);
    font-size: 1.5rem;

    text-align: center;
    padding: .5rem;
    transition: all .3s ease-in-out;

    text-decoration: none;
    color: inherit;

}

/* registro  */

main input[type = 'submit'] {
    background: var(--input-background);
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: var(--input);
    font-size: 1rem;
    border: 1px solid var(-bor);
    border-radius: 8px;
}

main a input[type = 'submit'] {
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: var(--background-submit);
    color: var(--submit);
    font-size: 1.5rem;
    transition: all .3s ease-in-out;
    align-items: center;
}

main a:hover {
    background: var(--submit-hover);
}

main a #button-voltar{
    position: relative;
    left: 35%;
}

main a #button-remover{
    position: relative;
    top: -34.5%;
    left: -40%;
}