.container-room {
  display: flex;
  justify-content: center;
  align-items: center;

}

.container-room a {

  text-decoration: none;
  color: inherit;

}

.left {
  width: 25rem;
  height: 35rem;

  background: rgba(0, 0, 0,.4);
  position: relative;
  left: -10%;

  border-radius: 1rem 1rem 0 1rem;

  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5;
  cursor: pointer;  
}

.left:hover {
  -moz-transform: scale(1.13);
  -webkit-transform: scale(1.13);
  transform: scale(1.13);
}

.left img {
  width: 25rem;
  height: 16.5rem;

  border-radius: 1rem 1rem 0 0;
}

.left p {
  padding: 1rem;
  text-align: center;

  background: rgba(0, 0, 0, .4);
  margin-top: -.7rem;
  font-family: var(--title);

}

.content{
  padding: 2rem;
  font-family: var(--sub-title);
}

.right {
  width: 25rem;
  height: 35rem;
  background: rgba(0, 0, 0,.4);

  position: relative;
  left: 10%;

  border-radius: 1rem;

}