@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {

  padding: 0;
  margin: 0;

  background: rgb(59,89,152);
  background: linear-gradient(90deg, rgba(59,89,152,1) 0%, rgba(0,149,167,1) 48%, rgba(59,89,152,1) 98%);

  color: white;
  font-family: 'DM Mono', monospace;
}

.card-one {
  display: flex;
  margin-top: 10rem;
  margin-left: -20rem;
  padding: 3rem;
  overflow: hidden;
}

.card-one a {
  text-decoration: none;
  color: inherit;
}

.card-two {
  display: flex;
  margin-top: 10rem;
  margin-left: 40rem;
  padding: 3rem;
  overflow: hidden;
}

.card-two a {
  text-decoration: none;
  color: inherit;
}

.card {
  
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-left: 50rem;
  height: 35rem;
  width: 25rem;
  min-width: 25rem;
  padding: 1.5rem;

}


.card {

  border-radius: 1.6rem;
  background: linear-gradient(90deg, rgba(59,89,152,1) 0%, rgba(0,149,167,1) 48%, rgba(59,89,152,1) 98%);
  box-shadow: -1rem 0 1rem rgba(0,0,0,.7);

  transition: .2s;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover~.card {
  transform: translateX(13rem);
}


.card:not(:first-child) {
  margin-left: -130px;
}

.card-header {
  margin-bottom: auto;
}

.card-header i {
  font-size: 8rem;
  margin: 0 0 1rem;
  position: relative;
  left: 28%;
  color: whitesmoke;
}

.card-header h2 {
  font-size: 3rem;
  margin: .25rem 0 auto;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.card-header p {
  font-size: 1.5rem;
  margin: .25rem 0 auto;
  text-align: center;
  position: relative;
  top: 25%;
}

.card-header h2:hover {
  background: linear-gradient(90deg,rgb(245,66,54),#e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
