@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {

  padding: 0;
  margin: 0;

  background: #7DABEA;

  color: white;
  font-family: 'DM Mono', monospace;
  font-size: 1.2rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25rem;
  height: 50rem;
}

.bg {
  position: relative;
  left: 38rem;
  top: 10rem;

  width: 30rem;
  height: 50rem;
}

section .card {
  width: 20rem;
  height: 30rem;

  position: relative;
  top: -4rem;
  left: -40rem;

  border-radius: 1.6rem;
  background: #7DABEA;
  box-shadow: -.5rem 0 .5rem .5rem rgba(0,0,0,.7);
  transition: .2s;

}

section .card { 
  padding: 3rem;
  overflow: hidden;
}

.card a {
  text-decoration: none;
  color: inherit;
} 

.card-two {
  position: relative;
  left: -25rem;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover~.card {
  transform: translateX(13rem);
}

.card:not(:first-child) {
  margin-left: -130rem;
}


header {
  margin-bottom: auto;

  width: 20rem;
  height: 30rem;
}

header i {
  font-size: 4rem;
  margin: 0 0 1rem;
  position: relative;
  left: 22%;
  color: whitesmoke;
}

header h2 {
  font-size: 2rem;
  margin: .25rem 0 auto;
  cursor: pointer;

  position: relative;
}

header .letter{
  margin-left: 2rem;
}

header p {
  font-size: 1.2rem;
  margin: .25rem 0 auto;

  padding: 2rem;
  position: relative;
  top: 6rem;
  left: -2rem;
  
}

.button {
  width: 15rem;
  height: 4.9rem;

  position: absolute;
  left: 0;
  top: 0;

  margin-top: 45rem;
  margin-left: 23rem; 

  border-radius: 3.2rem;
  background: #FF5757;
  font-family: var(--title);
  font-size: 1.5rem;
  box-shadow: -.2rem 0 .2rem .2rem rgba(0,0,0,.7);
  transition: .2s;
}

.button a {
  position: relative;
  left: 4.5rem;
  top: 1rem;

  text-decoration: none;
  color: inherit;

  font-size: 1.8rem;
}

.button:hover {
  background: var(--submit-hover)
}

.card-header h2:hover {
  background: linear-gradient(90deg,rgb(245,66,54),#e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}