* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --background: #1B2029;
  --background-span: rgba(255, 255, 255, 0.3);
  --background-submit: #6C63FF; 
  --main: #8880FE;
  --input-background: #161923;
  --input-color: rgba(166, 166, 166);
  --submit: rgb(255, 255, 255);
  --submit-hover: #5952d4;
  --circle-color: linear-gradient(45deg, #E8CBC0, #636FA4);
  --border-input: #040B18;

  --letter: #FFFAFA;
  --letter-button: #f5f5ef;
  --button: #f54236;


  --title: 'Poppins';
  --sub-title: 'Lato';
  --text-light:  'Shadows Into Light';
  --text-dancing: 'Dancing Script';
  --text-roboto: 'Roboto';

  font-size: 62.5%;
}

body {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

body, button {
  font-size: clamp(14px, 1.6rem, 2vw);
  font-family: var(--title), sans-serif;
  color: var(--letter);
}

.hover {
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5;
  cursor: pointer;  
}

.hover:hover{
  -moz-transform: scale(1.13);
  -webkit-transform: scale(1.13);
  transform: scale(1.13);

}

.container {
  width: 100%;
  margin: 0 auto;
}

#heart {
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5;
}

#heart:hover{
  -moz-transform: scale(1.13);
  -webkit-transform: scale(1.13);
  transform: scale(1.13);
}

.button button {
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5;
}

.button button:hover {
  -moz-transform: scale(1.13);
  -webkit-transform: scale(1.13);
  transform: scale(1.13);
}