* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --letter: #f8fbfd;
  --letter-button: #f5f5ef;
  --button: #f54236;


  --title: 'Poppins';
  --sub-title: 'Lato';
  font-size: 62.5%;

}

body {
  display: flex;
  height: 100vh;

  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  overflow: hidden;
}

body, button {
  font-size: clamp(14px, 1.6rem, 2vw);
  font-family: var(--title), sans-serif;
  color: var(--letter);
}

.hover {
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5;
  cursor: pointer;  
}

.hover:hover{
  -moz-transform: scale(1.13);
  -webkit-transform: scale(1.13);
  transform: scale(1.13);
}

.container {
  width: 100%;
  margin: 0 auto;
}

#heart {
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5;
}

#heart:hover{
  -moz-transform: scale(1.13);
  -webkit-transform: scale(1.13);
  transform: scale(1.13);
}

.button button {
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5;
}

.button button:hover {
  -moz-transform: scale(1.13);
  -webkit-transform: scale(1.13);
  transform: scale(1.13);
}