<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ajuda SP</title>

    <link rel="stylesheet" href="../static/pages/create.css" >
    <link rel="stylesheet" href="../static/global.css" >

</head>
<body>
    <main>
        <h1>Cadastre sua ONG</h1>
        <form action="" method="POST">
            <label for="nome">
                <span>Nome</span>
                <input type="text" id="nome" name="nome">
            </label>

            <label for="image">
                <span>Link da imagem</span>
                <input type="text" id="image" name="image">
            </label>

            <label for="ong">
                <span>Link da ONG</span>
                <input type="text" id="ong" name="ong">
            </label>

            <label for="hotkey">
              <span>Hotkey</span>
              <input type="text" id="hotkey" name="hotkey">
          </label>

            <input type="submit" value="Inscreva-se" id="button">

            <a href="/room">
                <p>Voltar</p>
            </a>
        </form>
    </main>
    <section class="images">
        <div class="circle">
            <img src="../static/images/menina.png" alt="">
        </div>
    </section>
</body>
</html>