<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/pages/delete.css">
  <link rel="stylesheet" href="/static/global.css">
  <title>Ajuda SP</title>

</head>
  <body>
    {% if sucesso %}
    <main>
      <h1>Removido com sucesso!</h1>
      <form action="" method="POST">
        <a href="/room">Voltar</a>
      </form>
    </main>
    
    {% elif registro %}
    <main>
      <h1>Excluir a ONG?</h1>
      <form action="" method="POST">
          <a href="/room/read" id="button-voltar">
            voltar
          </a>
          <a href="/room/read/delete/{{registro.id}}/confirmed" class="#button-remover">
            remover
          </a>
      </form>
    </main>

    {% else %}
    <main>
      <h1>ONG não encontrada</h1>
      <form action="" method="POST">
        <a href="">
          <input type="submit" value="Voltar" id="button-voltar">
        </a>
      </form>
    </main>
    {% endif  %}
  </body>

</html>