<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../static/global.css">
  <link rel="stylesheet" href="../static/pages/read.css">
  <link rel="stylesheet" href="../static/pages/fonts.css">
  <title>Ajuda SP</title>

</head>

  <body>
    {% for registro in registros %}
    <section class="card-list">
 
      <article class="card">
        <header class="card-header">
          <p>07 julho 2021</p>
          <h2>{{registro.nome_ong}}</h2>
        </header>

        <div class="card-author">
          <a class="author-avatar" href="{{registro.url_ong}}">
            <img src="{{registro.url_image}}" />
          </a>
          <svg class="half-circle" viewBox="0 0 106 57">
            <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
          </svg>

          <div class="author-name">
            <div class="author-name-prefix">Hotkey</div>
            {{registro.hotkey}}
          </div>
        </div>
        
        <div class="tags">
          <a href="/room/read/update/{{registro.id}}" id="modal" data-modal="modal">Update</a>
          <a href="/room/read/delete/{{registro.id}}">Delete</a>
        </div>
      </article>
    </section>
    {% endfor %}

  </body>

</html> 