<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../static/global.css">
  <link rel="stylesheet" href="../static/pages/fonts.css">
  <link rel="stylesheet" href="../static/pages/room.css">

  <title>AjudaSP</title>

</head>

  <body>
    <div class="container-room container">
      <a href="/room/create">
      <div class="left hover">
        <img src="../static/images/left.jpeg" alt="crianças">
        <p>Venha ser nosso parceiro</p>

        <div class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quasi consectetur omnis facilis quas in est aut ipsa vitae eum quaerat  
        </div>
      </div>
      </a>
      <div class="right">
        
      </div>
    </div>
  </body>

</html>