<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../static/global.css">
  <link rel="stylesheet" href="../static/pages/fonts.css">
  <link rel="stylesheet" href="../static/pages/room.css">

  <script src="https://kit.fontawesome.com/a57965ad4a.js" crossorigin="anonymous"></script>

  <title>AjudaSP</title>

</head>

  <body>
    <div class="container-room container">
      <a href="/room/create">
      <div class="left hover">
        <i class="fas fa-user-plus"></i>
        <p>inscreva-se</p>

        <div class="content">
          quando a parceria é forte nada pode nos abalar 
        </div>
      </div>
      </a>
      <div class="right hover">
        <a href="/room/read">
          <i class="far fa-handshake"></i>
          <p>parceiros</p>
            <div class="content">
              Divida o que se tem pois dessa vida nada levaremos 
            </div>
          </a>
      </div>
    </div>
  </body>

</html>