<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../static/global.css">
  <link rel="stylesheet" href="../static/pages/fonts.css">
  <link rel="stylesheet" href="../static/pages/room.css">

  <script src="https://kit.fontawesome.com/a57965ad4a.js" crossorigin="anonymous"></script>

  <title>AjudaSP</title>

</head>

  <body>
    <section class="card-one">
      <a href="/room/create">
      <article class="card">
        <header class="card-header">
          <i class="fas fa-user-plus"></i>
          <h2>inscreva-se</h2>

          <p>Quando a parceria é forte nada pode nos abalar</p>
        </header>
      </article>
    </a>
    </section>

    <section class="card-two">
      <a href="/room/read">
      <article class="card">
        <header class="card-header">
          <i class="far fa-handshake"></i>
          <h2>Parceiros</h2>

          <p>Divida o que se tem pois dessa vida nada levaremos</p>
        </header>
      </article>
    </a>
    </section>
  </body>

</html>